---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
---

<Layout>
  <Header />
  <div class="container">

    <Main />

    <footer>anache</footer>
  </div>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
  }

  main {
    background-color: #f0f0f0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
</style>
