<footer class="bg-white shadow-lg border-slate-300 border-1">
  <div class="pt-2 pb-6 px-3">
    <div class="flex flex-col xl:flex-row justify-around">
      <a
        href="/"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <img
          src="/logo/epetbg.png"
          class=" h-12 xl:h-24"
          alt="Flowbite Logo"
        />
        <span class="self-center text-lg xl:text-2xl font-semibold whitespace-nowrap"
          >E.P.E.T.P Nº10</span
        >
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 :text-gray-400"
      >
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Github</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Reportar problema</a>
        </li>

      </ul>
    </div>
    <hr class="py-4 border-gray-200" />
    <span class="flex justify-center text-sm text-gray-500 w-full"
      >
      <a class="font-bold mr-1 underline decoration-1 hover:text-black transition" href="https://github.com/IGnacho12/" target="blank_">Autor</a>🤓</span>
  </div>
</footer>
