
<header class="fixed w-full z-30">
  <nav class="backdrop-blur-lg bg-white/30 px-4 py-2.5 shadow-lg border-b border-slate-300">
    <div
      class="flex justify-between items-center mx-auto max-w-screen-xl"
    >
      <a href="/logo/epetbg.png" class="flex items-center">
        <img
          src="logo/epetbg.png"
          class="mr-3 h-6 sm:h-9"
          alt="EPETN10 logo"
        />
        <span
          class="self-center hidden xl:block font-semibold whitespace-nowrap "
          >E.P.E.T.P Nº10</span
        >
      </a>
      <div class="flex items-center lg:order-2 gap-1  xl:gap-5">
        <a
          href="#"
          class=" bg-primary-700 hover:bg-primary-800 font-medium rounded-lg text-sm  hover:underline"
          >Contacto</a
        >
        <a
          href="#"
          class="text-slate-900 hover:bg-slate-300/60 focus:bg-slate-300/60 hover:text-black font-bold rounded-lg  transition py-1 px-2"
          >Inscripciones</a
        >
        
         
        </button>
      </div>
      <div
        class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1"
        id="mobile-menu-2"
      >
        <ul
          class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
        >

        <li>
          <a
            href="#"
            class="ancoreNav bg-slate-100 px-3 py-1 rounded-2xl"
            >Inicio</a
          >
        </li>
          <li>
            <a
              href="#Titulo"
              class="ancoreNav"
              >Título Y Formaciones</a
            >
          </li>
          <li>
            <a
              href="#Estudiantes"
              class="ancoreNav"
              >Estudiantes</a
            >
          </li>
          <li>
            <a
              href="#Ubicacion"
              class="ancoreNav"
              >Ubicación</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>