---
import "./src/styles/global.css";
import ImagesBento from "../components/ImagesBento.astro";
---

<main class="xl:w-9/12 self-center place-self-center p-6 space-y-8 mt-20">
  <header class="text-center">
    <h1 class="text-xl xl:text-3xl font-bold text-balance">
      Escuela Provincial de Educaci贸n T茅cnica (E.P.E.T.) N掳 10 <br />
      <span class="relative italic text-slate-700 text-sm xl:text-2xl"
        >Mario Antonio Rodr铆guez
        <span class="animate-ping absolute w-2 h-2 right-0 bottom-2 rounded-full bg-red-400 opacity-75"></span>
        <a href="#Ubicacion" class="relative not-italic"></a></span
      >
    </h1>

    <!-- Descripci贸n breve de la instituci贸n -->
    <section
      id="descripcionInstitucion"
      class="flex flex-col w-11/12 place-self-center"
    >
      <p
        class="font-semibold text-gray-800 text-sm xl:text-lg text-start text-pretty"
      >
        Su educaci贸n abarca tanto el
        <span class="font-bold underline decoration-2"
          >Ciclo B谩sico T茅cnico</span
        >
        como el
        <span class="font-bold underline decoration-2"
          >Ciclo Superior T茅cnico</span
        >, con una
        <span class="font-bold underline decoration-2"
          >duraci贸n total de siete a帽os</span
        >
        y ofrece adem谩s una
        <span class="font-bold underline decoration-2"
          >variada gama de cursos de Formaci贸n Profesional</span
        >.
      </p>

      <p
        class="font-semibold text-gray-800 text-sm xl:text-lg text-start text-pretty"
      >
        La escuela cuenta con talleres de
        <span class="font-bold underline decoration-2">metalmec谩nica</span>,
        <span class="font-bold underline decoration-2">carpinter铆a</span>,
        <span class="font-bold underline decoration-2">construcciones</span> e
        <span class="font-bold underline decoration-2">inform谩tica</span>, y
        promueve la inserci贸n temprana de sus estudiantes en
        <span class="font-bold underline decoration-2"
          >pr谩cticas profesionalizantes</span
        >
        en organismos y empresas locales
      </p>
    </section>
  </header>

  <!-- T铆tulos o Certificaciones -->
  <article class="articulo flex flex-col gap-6 scroll-mt-24" id="Titulo">
    <!-- Secci贸n de educacion en la Secundar铆a -->
    <h3 class="text-xl xl:text-2xl font-semibold border-b">
      T铆tulos o Certificaciones que ofrece la instituci贸n
    </h3>
    <section>
      <!-- Secundario T茅cnico -->
      <h3 class="text-lg font-bold text-blue-700">Secundario T茅cnico</h3>
      <ul class="list-disc list-inside gap-1 flex flex-col">
        <li>
          <strong>T铆tulo: </strong>T茅cnico en Inform谩tica Profesional y Personal
        </li>
        <li><strong>Nivel: </strong>Secundario (Junior)</li>
      </ul>
    </section>

    <section class="flex flex-col gap-6">
      <!-- Formaci贸n Profesional -->
      <div>
        <h3 class="text-lg font-bold text-blue-700">
          Formaciones Profesionalizantes
        </h3>
        <h4 class="text-sm font-semibold text-pretty border-b border-slate-400">
          <span class="font-bold decoration-2">
            Armador y Montador de Paneles y Cielorrasos con Placas de Roca de
            Yeso
          </span>
        </h4>
        <ul
          class="list-disc list-inside gap-1 flex flex-col text-gray-800 text-sm xl:text-base font-semibold"
        >
          <li>
            <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
          </li>
          <li>
            <span class="font-bold decoration-2">Sectores:</span> Construcci贸n /
            Construcciones en Seco Livianas
          </li>
        </ul>
      </div>

      <div>
        <h4 class="font-semibold text-pretty border-b border-slate-400">
          <span class="font-bold decoration-2">
            Auxiliar en Carpinter铆a Creativa (Artesan铆as en Madera)
          </span>
        </h4>
        <ul
          class="list-disc list-inside text-gray-800 text-sm xl:text-base font-semibold"
        >
          <li>
            <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
          </li>
          <li>
            <span class="font-bold decoration-2">Sectores:</span> Actividades Art铆sticas
            T茅cnicas / Producci贸n Artesanal
          </li>
        </ul>
      </div>

      <!-- VER MS -->
      <div id="ver_mas_contenido" class="ocultar flex flex-col gap-6">
        <div>
          <h4 class="font-semibold text-pretty border-b border-slate-400">
            <span class="font-bold decoration-2">
              Auxiliar en Carpinter铆a y Terminaci贸n en Madera
            </span>
          </h4>
          <ul
            class="list-disc list-inside text-gray-800 text-sm xl:text-base font-semibold"
          >
            <li>
              <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
            </li>
            <li>
              <span class="font-bold decoration-2">Sectores:</span> Madera y Mueble
              / Carpinter铆a
            </li>
          </ul>
        </div>

        <div>
          <h4 class="font-semibold text-pretty border-b border-slate-400">
            <span class="font-bold decoration-2"
              >Auxiliar en Instalaciones El茅ctricas Domiciliarias</span
            >
          </h4>
          <ul
            class="list-disc list-inside text-gray-800 text-sm xl:text-base font-semibold"
          >
            <li>
              <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
            </li>
            <li>
              <span class="font-bold decoration-2">Sectores:</span> Construcci贸n
              / Instalaciones de Energ铆a El茅ctrica en Inmuebles
            </li>
          </ul>
        </div>

        <div>
          <h4 class="font-semibold text-pretty border-b border-slate-400">
            <span class="font-bold decoration-2"
              >Auxiliar en Producciones Gr谩ficas Audio y Video</span
            >
          </h4>
          <ul
            class="list-disc list-inside text-gray-800 text-sm xl:text-base font-semibold"
          >
            <li>
              <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
            </li>
            <li>
              <span class="font-bold decoration-2">Sectores:</span> Industria Gr谩fica
              y Multimedial / Multimedial
            </li>
          </ul>
        </div>

        <div>
          <h4 class="font-semibold text-pretty border-b border-slate-400">
            <span class="font-bold decoration-2"
              >Inform谩tica Adaptada a la Administraci贸n y Gesti贸n</span
            >
          </h4>
          <ul
            class="list-disc list-inside text-gray-800 text-sm xl:text-base font-semibold"
          >
            <li>
              <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
            </li>
            <li>
              <span class="font-bold decoration-2">Sectores:</span> Administraci贸n
              / Administraci贸n y Gesti贸n
            </li>
          </ul>
        </div>

        <div>
          <h4 class="font-semibold text-pretty border-b border-slate-400">
            <span class="font-bold decoration-2"
              >Mec谩nico de motores de combusti贸n interna</span
            >
          </h4>
          <ul
            class="list-disc list-inside text-gray-800 text-sm xl:text-base font-semibold"
          >
            <li>
              <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
            </li>
            <li>
              <span class="font-bold decoration-2">Sectores:</span> Automotriz /
              Mantenimiento y Reparaci贸n de Motores
            </li>
          </ul>
        </div>

        <div>
          <h4 class="font-semibold text-pretty border-b border-slate-400">
            <span class="font-bold decoration-2"
              >Montador y Reparador en Sistemas de Refrigeraci贸n</span
            >
          </h4>
          <ul
            class="list-disc list-inside text-gray-800 text-sm xl:text-base font-semibold"
          >
            <li>
              <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
            </li>
            <li>
              <span class="font-bold decoration-2">Sectores:</span> Electromec谩nica
              / Equipamiento Fr铆o - Calor
            </li>
          </ul>
        </div>

        <div>
          <h4 class="font-semibold text-pretty border-b border-slate-400">
            <span class="font-bold decoration-2"
              >Operador de Inform谩tica para Administraci贸n y Gesti贸n</span
            >
          </h4>
          <ul
            class="list-disc list-inside text-gray-800 text-sm xl:text-base font-semibold"
          >
            <li>
              <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
            </li>
            <li>
              <span class="font-bold decoration-2">Sectores:</span> Administraci贸n
              / Administraci贸n y Gesti贸n
            </li>
          </ul>
        </div>

        <div>
          <h4 class="font-semibold text-pretty border-b border-slate-400">
            <span class="font-bold decoration-2">Soldador B谩sico</span>
          </h4>
          <ul
            class="list-disc list-inside text-gray-800 text-sm xl:text-base font-semibold"
          >
            <li>
              <span class="font-bold decoration-2">Nivel:</span> Formaci贸n Profesional
            </li>
            <li>
              <span class="font-bold decoration-2">Sectores:</span> Mec谩nica, Metalmec谩nica
              y Metalurgia / Soldadura
            </li>
          </ul>
        </div>
      </div>
    </section>
    <button
      id="vermas"
      class="font-bold text-sm  text-blue-600 bg-slate-200 px-2 py-1 rounded-2xl w-fit self-center hover:bg-blue-600 hover:text-white transition hover:cursor-pointer"
      >Ver m谩s</button
    >
  </article>
</main>

<ImagesBento />

<style>
  #descripcionInstitucion {
    gap: 1lh;
    margin-top: 1lh;
  }

  #ver_mas_contenido {
    transition: height 1s ease;
  }

  .ocultar {
    height: 0;
    overflow: hidden;
  }

  .mostrar {
    height: max-content;
  }

  :root {
    interpolate-size: allow-keywords;
  }
</style>

<script>
  // bot贸n ver m谩s
  const btn = document.querySelector("#vermas");
  document.querySelector("#vermas")?.addEventListener("click", () => {
    if (
      document
        .querySelector("#ver_mas_contenido")
        ?.classList.contains("mostrar")
    ) {
      document.querySelector("#ver_mas_contenido")?.classList.remove("mostrar");
      btn.textContent = "Ver m谩s";
    } else {
      document.querySelector("#ver_mas_contenido")?.classList.add("mostrar");
      btn.textContent = "Ver menos";
    }
  });
</script>
